@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components {
  .btn {
    @apply inline-block px-4 py-2 rounded-lg shadow-lg bg-slate-700;
  }
  .about-text {
    @apply flex justify-center font-semibold text-center md:px-32 px-8 pb-28;
  }
  .about-text-outline {
    @apply ring-4 ring-black rounded-lg ring-opacity-30;
  }
  .about-img {
    @apply flex justify-center py-10;
  }
  .sections {
    @apply flex sm:text-4xl text-2xl font-bold justify-center align-middle pt-8;
  }
  .hobby-list {
    @apply flex justify-evenly text-center py-6;
  }
  .hobby-list-item {
    @apply flex flex-col px-10 py-8 font-semibold sm:text-2xl text-xl;
  }
  .hobby-list-desc{
    @apply sm:text-lg text-base md:px-40 px-8 font-semibold;
  }
}
